{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.artiste) }}
    {{ form_row(form.annee) }} 
    {{ form_row(form.description) }} 
    {{ form_row(form.price) }} 
    {{ form_row(form.qte) }} 
    {{ form_row(form.categorie) }}  
    {{ form_row(form.mp3) }} 
    {{ form_row(form.image) }} 
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} 
